@mixin button {
	display: block;
	color: white;
	text-transform: uppercase;
	padding: 7px 18px;
	font-size: 14px;
	display: table;
	font-weight: 700;
	background: $darkblue;
	@extend .transition;
	&:focus,
	&:active {
		outline: none;
	}
	&.alternate {
		background: $orange;
		color: $darkblue;
		&:hover {
			color: white;
		}
	}
}
@mixin transition($time:.2s) {
	transition: all $time ease-out;
}
@mixin margincenter {
	margin: 0 auto;
}
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}
@mixin ellipsis($lines:5) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
}
@mixin baselink($color:$primary) {
	display: inline-block;
	position: relative;
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: rgba($color, .6);
		@include transition(.3s);
		position: absolute;
		bottom: .35em;
	}
	&:hover::after {
		bottom: 0px;
	}
}
@mixin clearlink {
	display: initial;
	position: initial;
	&::after {
		display: initial;
		content: initial;
		width: initial;
		height: initial;
		background: initial;
		position: initial;
		bottom: initial;
	}
	&:hover::after {
		display: initial;
	}
}
@mixin pipeseparator {
	display: inline-block;
	&::after {
		content: '\00a0';
		border-right: 2px solid rgba($primary, .1);
		margin: 0 1em;
		width: 0;
		height: 100%;
		display: inline-block;
	}
}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px transparent inset !important;
	background-color: transparent !important;
}
input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
	background-color: transparent !important;
}